AutomaticImageClassificationTests/bin/
AutomaticImageClassification/obj/
AutomaticImageClassification/bin/
AutomaticImageClassificationTests/obj/
packages/
AutomaticImageClassificationWebApp/bin/
AutomaticImageClassificationWebApp.Tests/bin/
AutomaticImageClassificationWebApp/obj/
AutomaticImageClassificationWebApp.Tests/obj/
.vs/AutomaticImageClassification/v14/.suo
AutomaticImageClassificationTests/Data/
